html{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #333333;
    font-family: 'Roboto';
    color: #fffbfb;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    overflow-x: hidden;
}

/* The basic overall body page */

.mainbody{
    width: 100%;
    height: 100%;
    /* margin-right: 100px; */
}

.side{
    position: absolute;
}


/***********************/
/* The landing Section */
/***********************/

.landing{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.landing-back{
    width: 100%;
    height: 60%;
    background-color: #bac6c8;
    position: absolute;
    align-self: center;
    padding-top: 250px;
    margin-left: 80px;
    padding-right: 90px;
}

.top-line{
    width: 100%;
    height: 10%;
    background-color: #9e9c9c;
    position: absolute;
    top: 120px;
    left: 20px;

}

.landing img{
    width: 470px;
    height: 820px;
    position: absolute;
    z-index: 2;
    bottom: -25px;
}

.front-text{
    position: absolute;
    font-size: 15.4rem;
    z-index: 1;
    top: 110px;
    margin-left: 20px;
    text-shadow: -16px -12px 0px #5e5e5e;
}

.back-text{
    position: absolute;
    font-size: 16rem;
    z-index: 3;
    bottom: 140px;
    margin-left: 20px;
    text-shadow: -16px -12px 0px #959595;
}

.bottom-line1{
    width: 95%;
    height: 7.5%;
    background-color: #626262;
    position: absolute;
    bottom: 170px;
    left: 0;
}

.bottom-line2{
    width: 90%;
    height: 7.5%;
    background-color: #504B4B;
    position: absolute;
    bottom: 110px;
    right: -100px;
}


/*********************/
/* The About Section */
/*********************/

.about{
    width: 80%;
    height: 50%;
    background-color: #BAC6C8;
    margin-top: 25px;
    margin-left: 70px;
    box-shadow: -16px -12px 0px #545555;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    color: rgb(34, 34, 34);
    padding: 0 50px;
}

/************************/
/* The pixelated border */
/************************/

.project-block{
    width: 100%;
    height: 20%;
    background-color: #BAC6C8;
    padding-right: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top{
    margin-top: 140px;
}

.blockline1{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
}

.blockline2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    bottom: 0;
    align-items: flex-end;
    position: absolute;
}

.vblock{
    background-color: #333333;
    width: 2.5%;
}

#block1{
    height: 10%;
}

#block2{
    height: 30%;
}

#block3{
    height: 40%;
}

#block4{
    height: 60%;
}

#block5{
    height: 70%;
}

#block6{
    height: 80%;
}

#block7{
    height: 90%;
}



/***********************/
/* The Project Section */
/***********************/

h1{
    background-color: #BAC6C8;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 8rem;
    padding-top: 80px;
    /* padding-left: 100px; */
}

.project-card{
    justify-self: center;
    height: 60%;
    width: 100%;
    background-color: #BAC6C8;
    display: flex;
    justify-content: center;
    /* padding-right: 100px; */
}

.padtop{
    padding-top: 110px;
}

.card{
    height: 70%;
    width: 65%;
    background-color: #545555;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: -16px -12px 0px #2f3030;
    /* margin-left: 75px; */
}

.card img{
    margin-left: 45px;
    width: 40%;
    height: 70%;
}

.card-detail{
    font-size: 1.4rem;
    width: 50%;
    height: 100%;
    margin: 55px;
    display: flex;
    flex-direction: column;
}

.card-detail h2{
    margin-top: 25px;
    margin-bottom: 0;
}

.card-detail p{
    font-size: 1rem;
    margin-top: 25px;
}


.card-detail a{
    width: 20%;
    padding: 16px 32px;
    border-radius: 24px;
    background-color: #282936;
    color: #f3f8fa;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


/***********************/
/* The Contact Section */
/***********************/

.contact{
    margin-top: 40px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* padding-left: 100px; */
}

.contact img{
    width: 100px;
    height: 100px;
}
